* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main, header, section, footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  color: #21055F;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}
@media only screen and (min-width: 420px) {
  h1 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 540px) {
  h1 {
    font-size: 42px;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 37px;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 45px;
  }
}

.para {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 8px;
}
@media only screen and (min-width: 768px) {
  .para {
    margin-top: 13px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .para {
    margin-top: 18px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .para {
    font-size: 1.65rem;
    line-height: 150%;
  }
}

.btn {
  display: inline-block;
  padding: 16px 35px;
  background-color: #01A6A3;
  color: white;
  font-weight: medium;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  border-radius: 5px;
}
.btn img {
  display: inline-block;
  width: 20px;
  margin-left: 8px;
}

.brand {
  font-family: "MonteCarlo", cursive;
  text-align: center;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 50px;
  display: block;
}

.container {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media only screen and (min-width: 426px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 512px) {
  .container {
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 0px;
  }
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1380px;
  }
}
.container .img__container {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .container .img__container {
    width: 50%;
  }
}
.container .img__container img {
  display: inline-block;
  width: 100%;
}
.container .texts {
  width: 100%;
  margin-top: 10px;
}
.svg {
  margin: 10px auto;
}

#main .container {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  #main .container {
    width: 95%;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1600px) {
  #main .container {
    max-width: 1500px;
    margin-top: 80px;
  }
}
#main .img__wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (min-width: 992px) {
  #main .img__wrap {
    width: 60%;
    order: 2;
  }
}
#main .img__wrap .img__container {
  width: 48%;
}
#main .img__wrap .img__container .name .round {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  #main .img__wrap .img__container .name .round {
    width: 20px;
    height: 20px;
  }
}
#main .img__wrap .img__container .name h3 {
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
}
@media only screen and (min-width: 540px) {
  #main .img__wrap .img__container .name h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  #main .img__wrap .img__container .name h3 {
    font-size: 26px;
  }
}
#main .img__wrap .img__ant .round {
  background-color: #F1C2A7;
}
#main .img__wrap .img__ant h3 {
  color: #F1C2A7;
}
#main .img__wrap .img__mar .round {
  background-color: #2A5479;
}
#main .img__wrap .img__mar h3 {
  color: #2A5479;
}
@media only screen and (min-width: 992px) {
  #main .texts {
    width: 38%;
    margin-top: 0px;
  }
}
#main .texts .svg {
  width: 100%;
  font-size: 55px;
  color: #f8fb94;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}
@media only screen and (min-width: 540px) {
  #main .texts .svg {
    font-size: 70px;
  }
}
@media only screen and (min-width: 768px) {
  #main .texts .svg {
    font-size: 85px;
  }
}
@media only screen and (min-width: 992px) {
  #main .texts .svg {
    font-size: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  #main .texts .svg {
    font-size: 76px;
  }
}
#main .texts .game__func {
  position: relative;
  width: 180px;
  margin: 0 auto;
}
#main .texts .game__func h1 {
  font-size: 35px;
}
#main .texts .game__func::after {
  content: "";
  width: 100%;
  height: 20px;
  background-color: #01A6A3;
  position: absolute;
  z-index: -10;
  top: 20px;
}
#main .texts .para {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  section .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container {
    width: 1170px;
  }
}
@media only screen and (min-width: 768px) {
  section .container .img__container {
    width: 50%;
  }
}
section .container .img__container img {
  width: 100%;
  max-width: 170px;
}
@media only screen and (min-width: 540px) {
  section .container .img__container img {
    max-width: 230px;
  }
}
@media only screen and (min-width: 992px) {
  section .container .img__container img {
    max-width: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .img__container img {
    max-width: 380px;
  }
}
section .container .texts {
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  section .container .texts {
    width: 45%;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  section .container .texts {
    width: 40%;
  }
}
section .container .texts h1 {
  font-size: 28px;
  color: #0C6AB6;
}
@media only screen and (min-width: 540px) {
  section .container .texts h1 {
    font-size: 34px;
  }
}
@media only screen and (min-width: 768px) {
  section .container .texts h1 {
    text-align: left;
    font-size: 37px;
  }
}
@media only screen and (min-width: 992px) {
  section .container .texts h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .texts h1 {
    font-size: 47px;
  }
}
section .container .texts .para {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  section .container .texts .para {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  section .container .texts .para {
    font-size: 1.4rem;
    max-width: initial;
  }
}

@media only screen and (min-width: 768px) {
  #dSpace .container .img__container {
    order: 2;
  }
}

#calling .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media only screen and (min-width: 1200px) {
  #calling .container {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
#calling .container .btn {
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
